<table id='play_grid'>
  <input class = 'row_val' type='hidden' value= '<%=@row%>'>
  <input class = 'col_val' type='hidden' value= '<%=@col%>'>
  <% @row.times do |y| %>
  <tr class= 'row_<%= y.to_s %>'>
    <% @col.times do |x| %>
      <td class= 'col_<%= x.to_s %> clickable'>
        <input class = 'x' type='hidden' value= '<%=x%>'>
        <input class = 'y' type='hidden' value= '<%=y%>'>
      </td>

    <% end %>
  </tr>
  <% end %>
</table>

<div class='wrapper'>
<button id="start_life_btn">Next Generation</button>
</div>
<div class='wrapper'>
  <h3 id='gen_tag'>Generations: 0</h3>
</div>



